.App {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-color: hsl(0, 0%, 10%);
}

.notice {
  padding: 1rem 0;
}
