body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// Resets
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

////////////////////////////////
// Global sett
html {
  //font size 100% = 16px
  // 1rem = 10px
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  box-sizing: border-box;
}
